@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: 100;
}


body {
  font-family: 'Roboto';
  font-size: 18px;
  width: 1000px;
  color: #333;
  margin: 0 auto;
}

table{
  font-size: 18px;
  border-collapse: collapse;
}

th{
  width: auto;
  min-width: 150px;
  text-align: left;
  background: #2980b9;
  color: white;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
}

td{
  padding: 7px 7px 7px 10px;
  width: auto;
  min-width: 150px;
}

.header{
  font-size: 60px;
  background-color: #2980b9;
  color: white;
  font-weight: 300;
  padding: 20px;
  height: 87px;
}

.header div{
  float: left;
  margin-left: 16px;
}

.body{
  background-color: #f6f6f6;
  padding: 1px 20px 1px 20px;
}

.section{
  color: #2980b9;
  font-size: 35px;
  font-weight: 500;
  margin: 20px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}


.popupBody{
  width: 250px;
  font-size: 15px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.popupHeader{
  color: #ff3b30;
  padding: 12px;
  font-size: 22px;
  font-weight: 300;
}

.popupHeader div{
  text-align: center;
}

button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  width: 25px;
  height: 30px;
  color: #ff3b30;
  cursor: pointer;
}

.container {
  position: relative;
  top: 10px;
  width: 100%;
  margin: 0 auto;
}


.controlls {
  position: relative;
  top: -180px;
  text-align: center;
}

.display-remain-time {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 55px;
  color: #ff3b30;
  top: 37px;
  position: absolute;
  text-align: center;
  width: 100%;
}


#controllButton {
  outline: none;
  background: transparent;
  border: none;
  top: 105px;
  width: 50px;
  height: 50px;
  position: absolute;
}

.startPomodoro::before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: -9px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 22px solid #ff3b30;
}

.voidPomodoro::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -10px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 1px;
  border: 5px solid #ff3b30;
  background: #ff3b30;
}

.footerMenu{
  height: 40px;
}

.e-c-base {
  fill: none;
  stroke: #8e8e93;
  stroke-width: 2px
}

.e-c-progress {
  fill: none;
  stroke: #ff3b30;
  stroke-width: 2px;
  transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
  fill: #FFF;
  stroke: #ff3b30;
  stroke-width: 2px;
}

.circle{
  text-align: center;
}


/* #f98f86 the pale red */
 /*TODO ADD on start */
 #e-pointer { transition: transform 0.7s; }
